<!DOCTYPE html>
<html>
head
    include ../util/mathjax.pug
    link(rel="stylesheet", href=sources_rel + "../static/global.css")
body.md
    ol(type="1")
        li Исчисление высказываний. Общезначимость, следование, доказуемость, выводимость. Корректность, полнота, непротиворечивость. 
            | Теорема о дедукции для исчисления высказываний.
        li Теорема о полноте исчисления высказываний.
        li Интуиционистское исчисление высказываний. BHK-интерпретация. Решётки. Булевы и псевдобулевы алгебры.
        li Алгебра Линденбаума. Полнота интуиционистского исчисления высказываний в псевдобулевых алгебрах.
        li __(для групп 38-39)__ Модели Крипке. Сведение моделей Крипке к псевдобулевым алгебрам. Нетабличность 
            | интуиционистского исчисления высказываний.
        li Гёделева алгебра. Операция $\Gamma(A)$. Дизъюнктивность интуиционистского исчисления высказываний.
        li Исчисление предикатов. Общезначимость, следование, выводимость. Теорема о дедукции в исчислении предикатов.
        li Непротиворечивые множества формул. Доказательство существования моделей у непротиворечивых множеств формул 
            | в бескванторном исчислении предикатов.
        li Теорема Гёделя о полноте исчисления предикатов. Доказательство полноты исчисления предикатов.
        li Машина Тьюринга. Задача об останове, её неразрешимость. Доказательство неразрешимости исчисления предикатов.
        li Теории первого порядка, структуры и модели. Аксиоматика Пеано. Арифметические операции. Формальная арифметика. 
        li Примитивно-рекурсивные и рекурсивные функции. Функция Аккермана. Примитивная рекурсивность 
            | арифметических функций, функций вычисления простых чисел, частичного логарифма.
        li Выразимость отношений и представимость функций в формальной арифметике. Харктеристические функции.
            | Представимость примитивов $N$, $Z$, $S$, $U$ в формальной арифметике.
        li Бета-функция Гёделя. Представимость примитивов $R$ и $M$ и рекурсивных функций в формальной арифметике.
        li Гёделева нумерация. Рекурсивность представимых в формальной арифметике функций.
        li Непротиворечивость и $\omega$-непротиворечивость. Первая теорема Гёделя о неполноте арифметики.
        li Формулировка первой теоремы Гёделя о неполноте арифметики в форме Россера. Неформальное пояснение метода
            | доказательства.
            | Условия выводимости Гильберта-Бернайса-Лёфа. Формулировка второй теоремы Гёделя о неполноте арифметики, $Consis$. 
            | Неформальное пояснение метода доказательства.
        li Теория множеств. Аксиоматика Цермело-Френкеля. Частичный, линейный, полный порядок.
            | Ординальные числа, кардинальные числа, мощность множеств. $1+\omega\ne\omega+1$. Аксиома выбора.