mixin theorem(title)
    .theorem()
        if block
            block
        else
            p No content provided

mixin question(title)
    .question()
        if block
            block
        else
            p No content provided

mixin question-body(title)
    .question-body
        .rect(class='green-rect')
        .real-question-body(style='display:block;')
            block