script(type="text/x-mathjax-config").
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            processEscapes: true
        }
    });

script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_HTMLorMML")

script
    include md.js

p(style="display:none;").
    $\require{color}$
    $\newcommand{\pce}{\preccurlyeq}$
    $\newcommand{\sce}{\succcurlyeq}$
