doctype html
<meta charset="UTF-8"> 
//include util/blocks.pug
<html>
head
    include util/mathjax.pug
    link(rel="stylesheet", href="global.css")
    script
        include md.js
    title Основные формулировки и определения
body
    p.md \(\overrightarrow r(t)\) __Кривая__ &mdash; отображение `R^1 -> R^2 text( либо ) R^3`
    p.md \(\overrightarrow r(u,v)\) __Поверхность__ &mdash; отображение `\Omega \subset R^2 -> R^3`
    p.md.
        Пусть \(r = (x,y,z)\)
        Назовём поверхность __гладкой__, если <br>
        \(rank
            \begin{pmatrix}
                x_u && y_u && z_u \\
                x_v && y_v && z_v
            \end{pmatrix} = 2
        \) <br> и \(x, y, z\) имеют непрерывные производные
    p.md.
        Поверхность называют __простой__, если отображение \(r\) взаимно-однозначно.
    p.md.
        Последовательность областей $\Omega_n$ называют __исчерпывающей__, 
        если $\overline \Omega_n \subset \Omega_{n+1}$ и $\Omega = \cup \Omega_n$.
    p.md.
        Поверхность $\overrightarrow r (u,v)$ называется __почти простой__, 
        если существует последовательность $\Omega_n$ исчерпывающая для $\Omega$ и $\overrightarrow r$ 
        отображает каждую $\Omega_n$ в простую поверхность.
    p.md.
        __Система координат__ &mdash; некое взаимно-однозначное соответствие между точками пространства и векторами.
        __Криволинейная система координат__ &mdash; общий случай системы координат, не накладывающий никаких ограничений на это отображение.
    p.md.
        Возьмём поверхность и зафиксируем одну из переменных, получим кривую `vec r(u_0, v)`. Эти кривые называются координатными кривыми.
        Теперь возмём касательные к этим кривым и перемножим векторно. Получим нормаль к поверхности `vec n = vec r'_u times vec r'_v`.
        Нормаль простой поверхности не 0 нигде. Это следует из того, что ранг матрицы якобы простой поверхности равен 2.
    p.md Пусть граница $\partial \Omega$ имеет параметризацию $(u(),v(t))$. Назовём __краем__ поверхности ($\partial \Sigma$) $r(u(t),v(t))$.
    p.md Говорят, что две функции __задают одну поверхность__, если существуют соответствия $u=u(u',v'),\ v=v(u',v')$ с ненулевым якобианом и $\vec r(u,v) = \vec r(u(u',v'),v(u',v'))=\rho(u',v')$
    p.md Вектором __нормали__ называют вектор $\vec n = \vec r_u \times \vec r_v$
</html>
