// Преобразование Фурье. 
include ../util/blocks.pug
h4 Преобразование Фурье.
p Есть такая хрень, как преобразование Фурье. Это непрерывный аналог ряда Фурье.
p.md $F(f) = \int_\minf^\pinf f(t) e^{-ity} dt\quad$   __Прямое преобразование__
p.md $F^{-1} (\hat f) = \frac 1 {2\pi} \int_\minf^\pinf \hat f(y) e^{ixy} dy\quad$   __Обратное преобразование__
p.md Запишем __интеграл Фурье__ $F^{-1}(F(f))$. Он нужен, чтобы понять, как прямое, а затем обратные преобразования действуют на функцию.
p.md $$\frac 1 {2\pi} \int_\minf^\pinf dy \int_\minf^\pinf f(t) e^{-iy(t-x)} dt $$
p.md $$\frac 1 {2\pi} \int_\minf^\pinf dy \int_\minf^\pinf f(t) \cos(y(t-x)) + i f(t) \sin(y(t-x)) dt $$
p.md $$\frac 1 {2\pi} \int_\minf^\pinf dy \int_\minf^\pinf f(t) \cos(y(t-x)) dt + \frac 1 {2\pi} \int_\minf^\pinf dy \int_\minf^\pinf i f(t) \sin(y(t-x)) dt $$
p.md Второй интеграл занулился: внутри нечётная функция
p.md $$\frac 1 {2\pi} \int_\minf^\pinf dy \int_\minf^\pinf f(t) \cos(y(t-x)) dt$$
p.md Косинус разности
p.md $$\frac 1 {2\pi} \int_\minf^\pinf dy \int_\minf^\pinf f(t) \left(\cos(ty) cos(xy) + sin(ty) sin(xy)\right) dt$$
p.md $$\int_\minf^\pinf dy \left(cos(xy) \underbrace{\frac 1 {2\pi} \int_\minf^\pinf f(t) \cos(ty) dt}_{a(y)} + sin(xy) \underbrace{\frac 1 {2\pi} \int_\minf^\pinf f(t) sin(ty) dt}_{b(y)}\right)$$
p.md $$\int_\minf^\pinf dy \left(cos(xy) a(y) + sin(xy) b(y)\right)$$
p.md Очень напоминает ряд фурье: $\frac{a_{0}}{2}+\sum_{k=1}^{\infty}\left(a_{k} \cos \frac{k \pi x}{l}+b_{k} \sin \frac{k \pi x}{l}\right)$

h4 Свойства преобразования Фурье. Пусть $\hat f = F(f)$
p.md __Ограниченность:__ $\left|\hat f(y)\right| = \left|\int_\minf^\pinf f(t) e^{-ity} dt\right| \leqslant \left|\int_\minf^\pinf f(t) dt\right| = C$
p.md __Непрерывность:__ 
p.md $$f = \int_\minf^\pinf f(t) e^{-ity} dt = \int_\minf^\pinf f(t) cos(ty) dt - i \int_\minf^\pinf f(t) sin(ty) dt = 2\pi (a(y) - ib(y))$$
p.md Рассмотрим функцию $a_1(y) = 2\pi a(y)$
p.md Докажем, что $\lim_{y\to y_0} a_1(y) = a_1(y_0)$:
p.md $$\left|\int_{-\infty}^{\infty} f(t) \cos t y d y-\int_{-\infty}^{\infty} f(t) \cos t y_{0} d t\right| \leqslant$$
p.md $$\leqslant\left|
    | \int_{-\infty}^{\xi_1} f(t) \cos t y d t\right|+ 
    | \left|\int_{\xi_2}^{\infty} f(t) \cos t y d t\right|+
    | \left|\int_{\infty}^{\xi_1} f(t) \cos t y_0 d t\right|+
    | \left|\int_{\xi_2}^{\infty} f(t) \cos t y_0 d t\right|+
    | \left|\int_{\xi_1}^{\xi_2} f(t)\left(\cos t y-\cos t y_0\right) d t\right|
    | $$
p.md Разбили оба интеграла на $(\minf, \xi_1), (\xi_1, \xi_2), (\xi_2, \pinf)$
p.md Докажем, что все несобственные интегралы тут $&lt; \frac \eps 6$ (Ну тк сходимость у интеграла от 0 есть, то можно так сделать)
p.md Выберем окрестность $y_0$ так, чтоб  $\left|\int_{\xi_1}^{\xi_2} f(t)\left(\cos t y-\cos t y_0\right) d t\right| &lt; \frac \eps 3$
p.md Всё, доказали
p.md !!TODO!! __Дифференцирование преобразования Фурье__

h3 Связь между интегралом и рядом Фурье
p.md У нас есть интеграл Фурье:
p.md $\Phi (x) = \frac{1}{2\pi} \int_{-\infty}^{\infty} dy \int_{-\infty}^{\infty} f(t) \cos{(y(t-x))} dx$
p.md Кроме того, если $f(t)$ абсолютно интегрируема на $[0; a]$, то $\exists \alpha_n \to \infty : \lim_{n\to\infty} \int_0^a f(x) \frac{\sin{\alpha_n x}}{x} dx = A$, а так же $\exists b &gt; 0, 0 &gt; \alpha_{n+1} - \alpha_n &lt; b : \lim_{\omega \to \infty} \int_0^a f(x) \frac{\sin{\omega x}}{x} dx = A$.
h4 Теорема о равенстве интеграла фурье сумме соответствующего ряда Фурье.
p.md Пусть $f(t)$ абсолютно интегрируема на $R$, и $\forall l &gt; 0$ ряд Фурье по тригонометрической системе, ортогональной на промежутке $[x_0-l; x_0+l]$ сходится в точке $x_0$ к числу $S$.
p.md Тогда $\Phi (x_0) = S$.
p.md __Доказательство__:

p.md Для начала вспомним, что такое ряд Фурье:
p.md $$f(t) \sim \frac{a_0}{2} + \sum_{n=1}^{\infty} (a_n \cos{\frac{n\pi t}{l}} + b_n \sin{\frac{n\pi t}{l}}) = S$$
p.md $$a_n = \frac{1}{l} \int_{-l}^{l} f(t) \cos{\frac{n\pi t}{l}} dt, n \in 0 \ldots \infty$$
p.md $$b_n = \frac{1}{l} \int_{-l}^{l} f(t) \sin{\frac{n\pi t}{l}} dt, n \in 1 \ldots \infty$$
p.md Теперь вспомним, чему равна частная сумма этого ряда:
p.md $$S_n(x) = \frac{1}{l} \int_{-l}^{l} f(x-t) {\color{brown}D_n(t)} dt$$
p.md Где $\color{brown} D_n (t) = \frac{\sin{((n+\frac{1}{2})\frac{\pi t}{l})}}{2\sin{\frac{\pi t}{2 l}}} $ - ядро Дирихле.

p.md Сделаем замену переменной $t = -t$ и воспользуемся тем, что ядро Дирихле &mdash; чётная функция:
p.md $$S_n(x) = \frac{1}{l} \int_{-l}^{l} f(x+t) {\color{brown}D_n(t)} dt$$
p.md Тогда $S = \lim_{n\to\infty} S_n(x_0) = \frac{1}{l} \int_{-l}^{l}  f(x_0+t) {\color{brown}D_n(t)} dt$
p.md Определим новую функцию $\tilde g(t) = f(x_0+t)$, тогда, $\tilde S_n$, посчитанное для этой ф-ции будет связано со старым так: $\tilde S_n(x) = S_n(x + x_0)$.
p.md Тогда, $S_n(x_0) = \tilde S_n(0) = \frac{1}{l} \int_{-l}^{l} \tilde f(t) {\color{brown}D_n(t)} dt$

p.md Пусть $$\color{red} \varphi (t) = \frac{1}{2l\sin{\frac{\pi t}{2l}}} - \frac{1}{\pi t}$$
p.md Доопределим функцию в нуле, тогда при $t \to 0$ функция $\varphi \to 0$. Смотрим на #[a(href='https://sagecell.sagemath.org/?z=eJwrSyzSUC9R1-QqyMkv0TDUN9IvzszTKMjUKtE30tQ11C_I1C_RBADQcAq0&lang=sage&interacts=eJyLjgUAARUAuQ==') график] и видим, что это норм. 
    | Теперь вернемся к $ S$:

p.md $$ S = \tilde S_n(0) = \frac{1}{l} \int_{-l}^{l}  \tilde f(t) {\color{brown}D_n(t)} dt =
    | \frac{1}{l} \int_{-l}^{l}  \tilde f(t) {\color{brown}\frac{\sin{((n+\frac{1}{2})\frac{\pi t}{l})}}{2\sin{\frac{\pi t}{2 l}}}} dt =$$
p.md $$= \int_{-l}^l  \tilde f(t) \left(\left(\frac{\color{green} \sin{((n+\frac{1}{2})\frac{\pi t}{l})}}{\color{red} 2\sin{\frac{\pi t}{2 l}}}
    | {\color{red} -} \frac{\color{green} \sin{((n+\frac{1}{2})\frac{\pi t}{l})}}{\color{red} \pi t}\right) +
    | {\color{blue}\frac{\sin{((n+\frac{1}{2})\frac{\pi t}{l})}}{\pi t}}\right) dt=$$
p.md $$=\int_{-l}^l  \tilde f(t) {\color{red} \varphi(t)} {\color{green} \sin{\left((n+\frac{1}{2})\frac{\pi t}{l}\right)}} dt +
    | \int_{-l}^l  \tilde f(t) {\color{blue}\frac{\sin{\left((n+\frac{1}{2})\frac{\pi t}{l}\right)}}{\pi t}} dt $$

details
    summary Лемма Римана
    +question-body()
        p Пусть функция $\tilde f(x)$ абсолютно интегрируема на конечном или бесконечном интервале $(a,b)$. Тогда:
        p $$\lim _{\omega \rightarrow \infty} \int_{a}^{b} \tilde f(x) \sin \omega x d x=\lim _{\omega \rightarrow \infty} \int_{a}^{b} \tilde f(x) \cos \omega x d x=0$$

p.md (Так как, по лемме Римана, первое слагаемое идет к нулю). Тогда
p.md $$\lim_{n\to\infty}  \tilde S_n(0) =
    | \lim_{n\to\infty} \int_{-l}^l  \tilde f(t) {\color{blue}\frac{\sin{\left((n+\frac{1}{2})\frac{\pi t}{l}\right)}}{\pi t}} dt =
    | \lim_{\omega\to\infty} \frac{1}{\pi} \int_{-l}^l \tilde f(t) \frac{\sin{\omega t}}{t} dt$$

p.md Поскольку, по лемме Римана, 
p.md. 
    $$\begin{cases} 
        \lim_{\omega\to\infty} \int_{-\infty}^{-l}  \tilde f(t) \frac{\sin{\omega t}}{t} dt = 0 \\
        \lim_{\omega\to\infty} \int_{l}^{\infty}  \tilde f(t) \frac{\sin{\omega t}}{t} dt = 0
     \end{cases}$$
p.md То $\lim_{\omega\to\infty} \frac{1}{\pi} \int_{-l}^l  \tilde f(t) \frac{\sin{\omega t}}{t} dt = \lim_{\omega\to\infty} \frac{1}{\pi} \int_{-\infty}^{\infty}  \tilde f(t) \frac{\sin{\omega t}}{t} dt$.
p.md Но $\frac{\sin{\omega t}}{t} = \int_0^{\omega} \cos{(yt)} dy$.
p.md Тогда $\lim_{\omega\to\infty} \frac{1}{\pi} \int_{-\infty}^{\infty}  \tilde f(t) \frac{\sin{\omega t}}{t} dt =
    | \lim_{\omega\to\infty} \frac{1}{\pi} \int_{-\infty}^{\infty}  \tilde f(t) dt \int_0^{\omega} \cos{(yt)} dy$.
p.md Как доказывалось ранее, в данном случае можно поменять местами пределы интегрирования:
p.md $$\tilde S_n(0) =
    | \lim_{\omega\to\infty} \frac{1}{\pi} \int_{-\infty}^{\infty}  \tilde f(t) dt \int_0^{\omega} \cos{(yt)} dy =
    | \lim_{\omega\to\infty} \frac{1}{\pi} \int_0^{\omega} \cos{(yt)} dy \int_{-\infty}^{\infty} \tilde f(t) dt = 
    | \frac{1}{2\pi} \int_{-\infty}^{\infty} dy \int_{-\infty}^{\infty} \tilde f(t) \cos{(yt)} dt$$
p.md Вернёмся к $S_n$ и $f$:
p.md $$\tilde S_n(0) = S_n(x_0) =
    | \frac{1}{2\pi} \int_{-\infty}^{\infty} dy \int_{-\infty}^{\infty} f(x_0 + t) \cos{(yt)} dt =
    | \frac{1}{2\pi} \int_{-\infty}^{\infty} dy \int_{-\infty}^{\infty} f (u) \cos{(y(u-x_0))} dt =
    | \Phi(x_0)$$
p.md __Следствия__:
p.md 1) Если $\tilde f(x)$ абсолютно интегрируема на $R$ и в точке $x_0$ удовлетворяет условию Гёльдера, то $$\Phi(x_0) = \frac{\tilde f(x_0+0) + \tilde f(x_0- 0)}{2}$$
p.md Условие Гёльдера:
p.md Значения в соседних точках идут к нулю:
p.md $$|\tilde f(x) - \tilde f(x_0)| \leq C |x-x_0|^{\alpha}, 0 &lt; \alpha \leq 1$$
p.md 2) Если $f$ - абсолютно интегрируема и в точке $x_0$ имеет производную или односторонние производные (но при этом непрерывна), то $$\Phi(x_0) = \tilde f(x_0)$$